*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.container{
    background-color: rgb(255, 255, 255);
    border: 2px solid;
    width: 100%;
    height: 100vh;
    background-size: cover;
  
    
    display: grid;
    
    text-align: center;
  

    grid-template-columns: 300px 250px 300px ;
    grid-template-rows: 400px 200px 150px 200px;
    gap: 10px;
    grid-template-areas: 
    "header header header header header header header header"
    "main  main main main main  sidebar sidebar sidebar"
    "content content content content content content content content"
    "footer footer footer footer footer footer footer footer";
}
.box{
    background: linear-gradient(rgb(0, 208, 255), rgb(35, 35, 255));
    display: flex;
    justify-content:center;
    align-items: center;
    border: 3px solid;

   
}
/* #b1{
    grid-column-start: 1;
    grid-column-end: 4;
    
}
#b2{
    grid-row-start: 2;
    grid-row-end: 4;

}
#b3{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}
#b4{
    grid-column-start: 1;
    grid-column-end: 4;
} */
#b1{
    grid-area: footer;
}
#b2{
    grid-area: sidebar;
}
#b3{
    grid-area: content;
}
#b4{
    grid-area: header;
}


/* -------------------advance grid------------------- */
